.header {
   padding: 20px 0 30px;
   margin: 30px 8% 0;
   border-bottom: 2px solid #bbb;
   border-top: 2px solid #bbb;
}

.header__mainHeader {
   margin: 10px 0;
   text-align: center;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 25px;
}

.header--darkMode {
   color: #fff;
}

.header__selfie {
   border-radius: 10px;
   margin: 10px 0;
}