.navigation {
   background-color: #2CBFA4;
   line-height: 1.5;
   padding: 5px 4%;
   margin-bottom: 30px;
   border-bottom: 2px solid #0e7562;
}

.navigation--darkMode {
   background-color: #0A6E5C;
   border-bottom: 2px solid #003f33;
}

.navigation__menu {
   max-width: 1000px;
   list-style: none;
   padding: 0;
   margin: 5px auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.navigation__link {
   padding: 0 15px 5px;
   color: #fff;
   text-shadow: 2px 2px 3px #0e7562;
   font-size: 19px;
   text-decoration: none;
   line-height: 1.8;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.navigation__link:hover {
   text-shadow: none;
   color: #000;
}